<nav>
    <div class="site-title">
      <a href="/"><h1>OFFICE</h1></a>
      <p>US Presidents Data</p>
    </div>
    <ul>
      
      <li><a href="/create">Add President</a></li>
      <li><a href="/">List of Presidents</a></li>
      <li><a href="/update">Update President</a></li>
      <li><a href="/delete">Delete President</a></li>
    </ul>
  </nav>