<nav>
    <div class="site-title">
      <a href="/"><h1>OFFICE</h1></a>
      <p>US Presidents Data</p>
    </div>
    <ul>
      <li><a href="/president">List of Presidents</a></li>
      <li><a href="/president/create">Add President</a></li>
      <!-- <li><a href="/update/:id">Update President</a></li>
      <li><a href="/delete/:id">Delete President</a></li> -->
    </ul>
  </nav>