<nav>
    <div class="site-title">
      <a href="/"><h1>Files</h1></a>
      <p>Employee Data</p>
    </div>
    <ul>
      <li><a href="/">List of employees</a></li>
      <li><a href="/create">New Employee</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>