<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
<body>
  <%-include("./partials/nav.ejs")%>
      <div class="create-employee content">
        <form action="/president" method="POST">
          <label for="lastName">President Last Name</label>
          <input type="text" id='LastName' name="lastName" required>
          <label for="firstName">President First name</label>
          <input type="text" id='firstName' name="firstName" required>
          <label for="title">Title</label>
          <input type="text"id='title' name="title" required>
          <label for="note">More Info</label>
          <textarea name="note" id="note" name="note" required></textarea>
        <button>Submit</button>
        </form>
      </div>
      
      <%-include("./partials/footer.ejs")%>
      
</body>

</html>