<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
<body>
  <%-include("./partials/nav.ejs")%>
      <div class="create-employee content">
        <form action="">
          <label for="lastName">Employee Last Name</label>
          <input type="text" id='LastName' require>
          <label for="firstName">Employee First name</label>
          <input type="text" id='firstName' require>
          <label for="title">Employee Title</label>
          <input type="text"id='title' require>
          <label for="note">Employee Detail</label>
          <textarea name="note" id="note" require></textarea>
        <button>Submit</button>
        </form>
      
</body>
<%-include("./partials/footer.ejs")%>
</html>