<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
<body>
  <%-include("./partials/nav.ejs")%>
  <div class="image">
    

  </div>
 
  <!-- <h4 class="title"><%=title%></h4> -->
</body>
<%-include("./partials/footer.ejs")%>
</html>